/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* VARIABLES - END */
/* COMMONS - START */
.flex-center, .body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

/* COMMONS - END */
/* STYLES -  START */
.body .page-title {
  position: fixed;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
  padding: 5px;
  font: 20px "Lato", sans-serif;
  text-align: center;
  z-index: 10;
  background-color: white;
}

.header {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.copied-info {
  padding: 1rem;
  font-size: 1.2rem;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  z-index: 19;
  background-color: white;
  border: 1px solid grey;
}

.copy {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: white;
  padding: 0.5rem;
  box-shadow: 2px 2px 8px grey;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.copy .copy-icon {
  font-size: 30px;
}

.wrapper {
  text-align: center;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
 
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  padding: 0rem 2rem;
}

.wrapper .pattern {
  cursor: pointer;
  position: relative;
  overflow-y: auto;
}

.wrapper .pattern.close {
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 5px 5px 5px #999;
}

.wrapper .pattern .icon {
  color: black;
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  display: none;
  z-index: 10;
}

.wrapper .pattern .title {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Lato", sans-serif;
  padding-top: calc(50% - 12px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: inherit;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
  
}

.wrapper .pattern:hover .title {
  display: block;
}

.wrapper .pattern.fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  z-index: 15;
  overflow: hidden;
  margin: 0;
}

.wrapper .pattern.fill .icon {
  display: block;
}

.wrapper .pattern.fill .title {
  display: none;
}

.one {
  background: linear-gradient(-45deg, white 50%, transparent 50%) 8px 0, linear-gradient(45deg, transparent 50%, pink 50%), white;
  background-size: 32px 32px;
}

.two {
  background: linear-gradient(-45deg, plum 25%, transparent 50%, plum 25%) 16px 0, linear-gradient(45deg, plum 25%, transparent 50%, plum 25%), black;
  background-size: 32px 128px;
}

.three {
  background-color: white;
  background-image: radial-gradient(navy 4px, aqua 5px, transparent 12px, transparent 15px, darkblue 16px, darkblue 20px, transparent 21px, transparent 25px);
  background-size: 60px 60px;
}

.four {
  background: linear-gradient(-45deg, white 50%, transparent 50%) 1px 0, linear-gradient(45deg, transparent 50%, rosybrown 50%), linear-gradient(135deg, white 50%, transparent 50%) 16px 0, linear-gradient(-135deg, transparent 50%, rosybrown 50%), white;
  background-size: 18px 54px;
}

.five {
  background: linear-gradient(60deg, mintcream 50%, transparent 50%) 6px 0, linear-gradient(-60deg, transparent 50%, midnightblue 50%), mintcream;
  background-size: 32px 32px;
}

.six {
  background: radial-gradient(circle, white 20px, skyblue 10px), skyblue;
  background-size: 25px 60px;
}

.seven {
  background: radial-gradient(snow 16px, transparent 16px), chocolate;
  background-size: 30px 30px;
}

.eight {
  background: linear-gradient(90deg, burlywood 46%, transparent 50%), linear-gradient(180deg, transparent 50%, burlywood 54%), bisque;
  background-size: 20px 20px;
}

.nine {
  background: linear-gradient(0deg, white 15%, transparent 15%) 0 6px, linear-gradient(90deg, white 50%, transparent 50%) -10px 0, linear-gradient(120deg, black 50%, transparent 50%), linear-gradient(60deg, transparent 49%, black 50%), white;
  background-size: 40px 40px;
}

.ten {
  background: linear-gradient(-60deg, seashell 50%, transparent 50%) 8px 0, linear-gradient(60deg, transparent 50%, PaleVioletRed 50%), seashell;
  background-size: 16px 32px;
}

.eleven {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 20px, transparent 20px), linear-gradient(0deg, transparent 50%, rgba(200, 0, 0, 0.5) 50%) 20px 20px, linear-gradient(0deg, rgba(0, 0, 0, 0.5) 50%, transparent 50%) 40px 0, linear-gradient(180deg, transparent 20px, rgba(0, 0, 0, 0.5) 20px) 40px 0, floralwhite;
  background-size: 40px 40px;
}

.twelve {
  background: linear-gradient(75deg, rgba(0, 0, 0, 0.4) 8px, transparent 10px), linear-gradient(-75deg, rgba(0, 0, 0, 0.4) 8px, transparent 10px), linear-gradient(60deg, rgba(0, 0, 0, 0.6) 10px, transparent 10px), linear-gradient(-60deg, rgba(0, 0, 0, 0.6) 10px, transparent 10px), linear-gradient(45deg, black 8px, transparent 8px), linear-gradient(-45deg, black 8px, transparent 8px), linear-gradient(255deg, rgba(0, 0, 0, 0.4) 8px, transparent 10px), linear-gradient(-255deg, rgba(0, 0, 0, 0.4) 8px, transparent 10px), linear-gradient(240deg, rgba(0, 0, 0, 0.6) 10px, transparent 10px), linear-gradient(-240deg, rgba(0, 0, 0, 0.6) 10px, transparent 10px), linear-gradient(135deg, black 8px, transparent 8px), linear-gradient(-135deg, black 8px, transparent 8px), white;
  background-size: 100px 100px;
}

/* STYLES - END */
